
.article {
  height: 800px;
  background: #000000;
  padding: 0;
  max-width: 100% !important;
  margin-top: 50px;
}

.article-img {
  height: 60%;
  width: 100%;
  background-size: cover;
}

.article-preview {
  color: white;
  padding: 30px;

  p {
    color: #7d7d7d;
    font-size: 12px;
  }

  h6 {
    font-size: 14px;
  }
}

.article-menu {
  background: #000000;
  height: 250px;
  margin-top: 50px;
  color: white;
  padding: 20px;
  overflow: scroll;
}
