<div class="footer">
  <div class="container">
    <div class="footer-info">
      <div class="copyright">
        <p>© 2020 - nspierson.com</p>
      </div>
      <div class="socials">
        <ul>
          <li><i class="fab fa-facebook-f" style="padding-left: 9px;"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-linkedin-in"></i></li>
        </ul>
      </div>
      <div class="contact_info">
        <p>EXEMPLE@EMAIL.COM / +33 7 89 87 54 26</p>
      </div>
    </div>
  </div>
</div>
