<div class="background_image" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) ,url('https://images.unsplash.com/photo-1560185008-b033106af5c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')">
  <div class="container">
    <div class="welcome">
      <h4 class="text-center">•<strong> Bienvenue chez NOTRE NOM</strong> •</h4>
      <h6 class="text-center">Nous sommes une société de ... basée à ...</h6>
    </div>
    <div class="categories">
      <div class="cards">
        <div class="full-card">
          <div class="card-info" style="background: rgba(132,93,65 ,0.92);">
            <div class="card-title-container">
              <h5 style="margin-bottom: 30px; font-size: 28px;"><strong>EXTÉRIEURS</strong></h5>
              <p style="font-size:12px;">Nous décorons votre intérieur avec beaucoup de goût et d'investissement.</p>
            </div>
          </div>
          <div class="card-category">
            <div class="card-category-img" style="background-image: url(https://images.unsplash.com/photo-1496113517021-6a8cf280c2b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)">

            </div>
          </div>
        </div>
        <div class="full-card">
          <div class="card-info" style="background: rgba(55,105,132 ,0.92);">
            <div class="card-title-container">
              <h5 style="margin-bottom: 30px; font-size: 28px;"><strong>INTÉRIEURS</strong></h5>
              <p style="font-size:12px;">We enjoy designing stuff, low floors, high floors, storages and everything that's inside of your mind.</p>
            </div>
          </div>
          <div class="card-category" >
            <div class="card-category-img" style="background-image: url(https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)">

            </div>
          </div>
        </div>
        <div class="full-card">
          <div class="card-info" style="background: rgba(0,25,38 ,0.92);">
            <div class="card-title-container">
              <h5 style="margin-bottom: 30px; font-size: 28px;"><strong>AUTRE CAT</strong></h5>
              <p style="font-size:12px;">We enjoy designing stuff, low floors, high floors, storages and everything that's inside of your mind.</p>
            </div>
          </div>
          <div class="card-category" >
            <div class="card-category-img" style="background-image: url(https://images.unsplash.com/photo-1496113517021-6a8cf280c2b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

