<div class="container">
  <div class="d-flex justify-content-between" style="margin: 50px 0;">
    <div class="articles col-8">
      <div class="article col-8">
        <div class="article-img" style="background-image: url(https://images.unsplash.com/photo-1550343560-36ad97507d40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)">
        </div>
        <div class="article-preview">
          <h6 class="text-center">ASTUCES</h6>
          <h4 class="text-center">Quelle bière pour cet été ?</h4>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis commodi quidem esse id totam, odit nam dignissimos, enim. Est eaque rem possimus animi accusamus iste recusandae ratione minima. Facilis, praesentium. Aperiam magnam nemo iure illo quibusdam, excepturi minus quis porro tempore, tenetur doloribus quo. Impedit modi fuga adipisci necessitatibus, aspernatur, quidem cum deserunt esse beatae quis, assumenda tempore consequatur rerum!</p>
        </div>
      </div>
      <div class="article col-8">
        <div class="article-img" style="background-image: url(https://images.unsplash.com/photo-1513189737554-b1bbd839b9a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80)">
        </div>
        <div class="article-preview">
          <h6 class="text-center">ASTUCES</h6>
          <h4 class="text-center">Idée déco pour votre cave à bière</h4>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis commodi quidem esse id totam, odit nam dignissimos, enim. Est eaque rem possimus animi accusamus iste recusandae ratione minima. Facilis, praesentium. Aperiam magnam nemo iure illo quibusdam, excepturi minus quis porro tempore, tenetur doloribus quo. Impedit modi fuga adipisci necessitatibus, aspernatur, quidem cum deserunt esse beatae quis, assumenda tempore consequatur rerum!</p>
        </div>
      </div>
    </div>
    <div class="article-menu col-3">
      <p class="text-left"><strong>DERNIERS ARTICLES</strong></p>
      <p class="text-left">Quelle bière pour cet été ?</p>
      <p class="text-left">Idée déco pour votre cave à bière</p>
    </div>
  </div>
</div>
