.navbar-lewagon {
  justify-content: center;
  background: black;
  height: 130px;
  align-items: center;

  a {
    color: #7d7d7d !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.company_name {
  a {
    color: white !important;
    font-size: 30px;
  }
}
